<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dscproject.cantinplusplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinishFoodActivity"></activity>
        <activity android:name=".CookingActivity" />
        <activity android:name=".OrderFoodActivity" />
        <activity android:name=".CantinDetailActivity" />
        <activity android:name=".CantinActivity" />
        <activity android:name=".OpeningActivity" />
        <activity android:name=".SignUpAct" />
        <activity android:name=".SignInAct" />
        <activity android:name=".SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>